.horizontal-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 3;
  background: linear-gradient(to right, $blue, $blue);
  background-color: $background-light;
  background-size: 50%;
  background-repeat: repeat-y;
  background-position: -75% 0;
  animation: loader ease-in 0.5s infinite;
  display: none;

  &.loading {
    display: block;
  }
}

@keyframes loader {
  50% {
    background-position: 150%;
  }
  100% {
    background-position: 200%;
  }
}
