$large-mobile: 540px;
$min-tablet: 768px;
$min-desktop: 1024px;

$primary: #2196f3;
$link-hover: #64b5f6;
$white: #fff;
$red: #f44336;
$black: #212121;
$green: #4caf50;
$blue: #2196f3;
$dark-blue: #1976d2;
$yellow: #ffeb3b;
$amber: #ffc107;
$light-grey: #eceff1;
$dark-grey: #424242;
$background-light: #eceff1;
$background-hover: #e0e0e0;
$border-light: #cfd8dc;
$border: #9e9e9e;
