@import "../../styles/variable.scss";
@import "../../styles/util.scss";

.user-info-container {
  padding: 0 20px;
  box-sizing: border-box;

  .list-info {
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .text-info {
      margin-left: 10px;
    }
  }
}
