@import "../../styles/variable.scss";

.home-container {
  display: grid;
  grid-template-columns: 1fr;
  .sidebar,
  .rightbar-container {
    display: none;
  }
}

@media screen and (min-width: $min-tablet) {
  .home-container {
    grid-template-columns: 2fr 5fr;
    .sidebar {
      display: block;
    }
  }
}
@media screen and (min-width: $min-desktop) {
  .home-container {
    grid-template-columns: 2fr 5fr 3fr;

    .rightbar-container {
      display: block;
    }
  }
}
