@import "../../styles/variable.scss";
@import "../../styles/util.scss";

.account-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .avatar-container {
    position: relative;
    display: inline-block;
  }
  .online-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid $white;
    position: absolute;
    bottom: -4px;
    right: -4px;
    background-color: $green;
  }

  .account-name {
    margin-left: 10px;
    @include text-ellipsis(150px);
  }
}
